#about
  width: 750px
  background: lightblue
  padding-bottom: 20px;

  h1, h2, h3, h4, h5
    margin-bottom: 0px

  .red
    color: red
  .yellow
    color: yellow
  .orange
    color: orange
  .green
    color: green

  .red,
  .yellow,
  .orange,
  .green
    text-shadow: 1px 1px black