content
  min-width: 200px
  height: 100%
  flex: 0 1 auto
  order: 1
  position: relative
  
  h1, h2, h3, h4, h5
    margin: 0px

  > #video-feed
    > canvas,
    > video
      position: absolute

  > #results 
    > .result-group
      background: grey
      padding: 10px
      border-bottom: 2px solid lightgrey
      
      > h1
        margin: 0px

      > .result
        margin-top: 10px;
        background: lightgrey