#description
  background: lightblue
  flex: 0 1 auto
  order: 0
  width: 350px
  margin-right: 10px
  display: flex
  flex-direction: column

  .toggle-btn-container
    margin-top: 10px
    padding: 10px
    border-top: 1px dashed darkblue
    background: lightblue
    > label
      margin-bottom: 5px
      >  input
        vertical-align: middle
      padding: 5px
    > button
      margin-left: 0px
      width: 100%