// ALL YE WHO ENTERES, EVERYTHING HERE IS QUICK AND DIRTY SOLUTIONS, ^_^
  
html
  height: 100%

ul
  margin: 0px

a
  color: blue

p
  margin: 0
  line-height: 1.3em
  padding: 10px

button
  margin: 5px

h1, h2, h3, h4, h5
  margin-left: 10px
  margin-right: 10px

h1:first-letter
  text-transform: uppercase

body
  background: aliceblue
  display: flex
  justify-content: center
  margin: 0px
  padding-bottom: 40px // room for the footer

footer
  position: fixed
  left: 0
  right: 0
  bottom: 0
  height: 30px
  line-height: 30px
  width: 100%
  color: black
  text-align: center
  background: aliceblue